# Summary of NB2 regression strategy
* STEP 1: Fit the Poisson regression model on the data set. This will give us the vector of fitted rates λ.
* STEP 2: Fit the aux OLS regression model on the data set. This will give us the value of α.
* STEP 3: Use the α from STEP 2 to fit the NB2 regression model to the data set.
* STEP 4: Use the fitted NB2 model to make predictions about expected counts on the test data set.
* STEP 5: Test the goodness-of-fit of the NB2 model.

source: https://timeseriesreasoning.com/contents/negative-binomial-regression-model/

In [1]:
import pandas as pd
from patsy import dmatrices
import statsmodels.api as sm
import matplotlib.pyplot as plt

# ETL

In [47]:
import os
import datetime
root = 'bicycle_count/'
files = [os.path.join(root,j) for j in os.listdir(root) if '.xlsx' in j]
df = pd.DataFrame()
for f in files:
    _ = pd.read_excel(f)
    _.columns = _.loc[4]
    _ = _.loc[5:]
    _  = _[['Day','High Temp (°F)','Low Temp (°F)','Precipitation','Brooklyn Bridge']].dropna()
    _['Day'] = pd.to_datetime(_['Day'])
    _['Day'] = _['Day'].apply(lambda x: x.day_name())
    df = pd.concat([_,df],axis=0)
#df.reset_index(inplace=True)

def parse_precipitation(x):
    if x in ['T','S']:
        return 0
    else:
        return x
df['Precipitation'] = df['Precipitation'].apply(lambda x: parse_precipitation(x))
df.index.name = None
df

4         Day High Temp (°F) Low Temp (°F)  Precipitation Brooklyn Bridge
5     Tuesday             91            72           0.00            3492
6   Wednesday             86          69.1           0.09            2637
7    Thursday             86            70           0.00            3346
8      Friday           82.9            70           0.15            2400
9    Saturday             77            70           0.30            3409
..        ...            ...           ...            ...             ...
31   Thursday             77          66.9           0.00            3287
32     Friday           84.9            73           0.00            3123
33   Saturday           75.9            68           0.00            2074
34     Sunday             81          64.9           0.00            3331
35     Monday             88          66.9           0.00            3560

[214 rows x 5 columns]